@{
    ViewBag.Title = "AdminMain"; }
<br /><br />
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <h2>Well come Admin panel</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br /><br /><br />
        <ul style="margin-top:5px">
            <li style="margin-top:5px"><a href="/Admin/AddStudent"> <h4>Add Student</h4> </a></li>
             <li style="margin-top:5px"><a href="/Admin/ViewAllStudents"> <h4>View all Students</h4></a></li>
            <li style="margin-top:5px"><a href="/Admin/DeleteStudent"> <h4>Delete Student</h4></a></li>
            <li style="margin-top:5px"><a href="/Admin/AddTeacher">  <h4>Add Teacher</h4></a></li>
             <li style="margin-top:5px"><a href="/Admin/ViewAllTeachers"> <h4>View all Teachers</h4></a></li>
            <li style="margin-top:5px"><a href="/Admin/DeleteTeacher"> <h4>Delete Teacher</h4></a></li>
        </ul>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</div>
<div class="row">

    <div class=" col-xs-6 col-md-4">

    </div>
</div>

