


<!Doctype html>
<html>
<head>
<title></title>
</head>
<body>
    <footer style="padding-bottom :0px ;">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="collapse navbar-collapse ">
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <p>Copyright (c) By MOBEEN IKHTIAR(BSEF12M536)</p>
                    </div>

                </div>
            </div><!-- /.navbar-collapse -->
        </nav>
    </footer>
   
</body>
</html>

