@{
    ViewBag.Title = "Professors'stories";
}
<html>
<head>

</head>
<body>
    <div class=" row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-4">
            <h2>Professors'Sucess Stories</h2>
        </div>
    </div>

    <div class=" row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <img src="~/images/p1.jpg" class=" img-rounded" alt="Cinque Terre" width="190" height="230">
        </div>
        <div class="col-lg-8">
            <h4> <b>Professor Jennifer Schwartz</b> <br></h4>
            <h4><b><font color="00fff">Stanford</font></b><br></h4>
            <h4>Department of Chemistry</h4><br><br>
            <h4>“Many of the students who ask questions on E-learning just wouldn't get the<br> opportunity to ask them otherwise.”</h4>

        </div>

    </div>

    <div class=" row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <b>How does Piazza help you in your<br> large chemistry class?</b>
            <p>
                I have 500 students. I can’t fit that many people into any room on campus. There is no amount of office hours that would allow me to connect with them all. Many of the students who ask questions on Piazza just wouldn't get the opportunity to ask them otherwise. Maybe they couldn’t make
            </p>

        </div>
        <div class="col-sm-3">

            <p>
                it to office hours; maybe they didn't get the chance to talk to a TA because it was so crowded in class. Now they can get answers to their questions 24 hours a day online. Hundreds of them are using Piazza. Some read every post on there—I see them having ‘post feuds’ (laughs). So they enjoy it. They definitely take advantage of it.
            </p>

        </div>
        <div class="col-sm-3">
            <b>What makes Piazza different from <br>other forums?</b>
            <p>
                There are two key differences: First, the piazza platform is very intuitive to use so it’s easy for TAs and students to start using it right away. Second, I also really like the ‘wiki’ format where everyone contributes to one common answer – this is what really saves time because....
            </p>

        </div>
    </div>

    <br><br>

    <div class=" row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <img src="~/images/p2.jpg" class=" img-rounded" alt="Cinque Terre" width="190" height="230">
        </div>
        <div class="col-lg-8">
            <h4> <b>Professor Ron Lee</b> <br></h4>
            <h4><b><font color="00fff">UC Berkeley</font></b><br></h4>
            <h4>Department of Economics</h4><br><br>
            <h4>“I think it impoverishes the learning environment if students don't talk to other <br>students. Piazza makes it very easy to get a discussion going.”</h4>

        </div>

    </div>

    <div class=" row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <b>How is Piazza different from other <br> tools you use?</b>
            <p>
                I’ve been using iclickers for seven or eight years, and that’s a technology that takes a lot of time. It can also go wrong, and it’s a big nuisance when it does. I have a part-time person hired just to do the record-keeping! But Piazza is not like that at all. It’s largely invisible. You make a few
            </p>

        </div>
        <div class="col-sm-3">

            <p>
                decisions when you set it up and then it’s pretty straightforward—not time-consuming, energy-draining, anything like that.
            </p><br>
            <b>
                Were you worried about trying<br> another new technology?
            </b>
            <p>
                Well, here at Berkeley we’re close to Silicon Valley, so we’re used to trying
            </p>

        </div>
        <div class="col-sm-3">
            <
            <p>
                new things. But I was a little bit worried about being flooded with emails and notifications. It just hasn’t turned out that way at all, though. Piazza has been totally nonintrusive. I was able to choose how frequently I receive emails—I chose every four hours or something. So I very much like that feature.
            </p>

        </div>
    </div>

</body>
</html>

